.home-title > div {
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
}

#presentation {
    letter-spacing: 2px;
    text-transform: uppercase;
}

#presentation td {
    min-height: 50px;
    height: 50px;
}

#presentation img {
    width: 32px;
    height: 32px;
}

#presentation-character-blinky, #presentation-name-blinky {
    color: #ed1b24;
}
#presentation-character-pinky, #presentation-name-pinky {
    color: #feaec9;
}
#presentation-character-inky, #presentation-name-inky {
    color: #4adecb;
}
#presentation-character-clyde, #presentation-name-clyde {
    color: #f99c00;
}